.luckysheet-sheet-area div.luckysheet-sheets-item {
    font-size: 12px;
    text-align: center;
    font-family: PingFangSC-Regular;
    padding: 0px 16px;
    border: 1px solid rgba(153,153,153,0.20);
}

.luckysheet-sheet-area div.luckysheet-sheets-item .luckysheet-sheets-item-menu {
    display: none;
}

.luckysheet-sheet-area div.luckysheet-sheets-item:hover {
    background-color: #fff;
    color: #487ff8;
}

.luckysheet-sheet-area div.luckysheet-sheets-item-active {
    background-color: #fff;
    color: #487ff8;
}

.luckysheet-sheet-area div.luckysheet-sheets-item-active .luckysheet-sheets-item-color{
    background-color: #487ff8;
}

.luckysheet-sheet-area div.luckysheet-sheets-item .luckysheet-sheets-item-name{
    padding: 0px 2px;
}

.luckysheet-cell-sheettable,
.luckysheet-cols-h-cells,
.luckysheetsheetchange , .luckysheet-cell-main,.luckysheet-rows-h,.luckysheet-cols-h-cells-c{
  background-color: #f7f8f9;
}

#luckysheet-bottom-controll-row{
    display: none;
}

.luckysheet-scrollbars::-webkit-scrollbar-thumb{
    border-radius: 0px;
    background-color:rgba(178, 178, 178, 0.4);
    background-clip:border-box;
    box-shadow:none;
}

#luckysheet-sheets-value,
#luckysheet-sheets-scaleMin,
#luckysheet-sheets-scalePlus {
  padding: 6px 10px;
  display: inline-block;
  float: left;
}

.luckysheet-sheet-area{
    padding: 0px;
}

.luckysheet-sheet-area .luckysheet-sheets-menu {
    padding: 6px 12px 7px 12px;
    width: 20px;
    height: 20px;
   
  }

  .luckysheet-sheet-area .luckysheet-sheets-menu i{
      font-size: 20px;
  }